<div class="container">
    <div class="movieDetail" *ngFor=" let mov of movie">
      <div class="main">
        <div class="wrap-image">
          <span class="pull-left">
              <img 
              src="{{mov.imagePath}}" 
              alt="{{ mov.title}}" 
              class="img-responsive">
          </span>
        </div>
        <div class="wrap-info">
          <div class="display-flex"><h3 class="title">Title:</h3> {{mov.title}}
          </div>
          <div class="wrap-middle">
            <div class="display-flex"><h3 class="year">Release Year:</h3> {{mov.year}}</div>
            <div class="display-flex"><h3 class="year">Genre:</h3> {{mov.genre}}</div>
          </div>
          <h3>Description:</h3> <div class="description-text">{{mov.desc}}
          </div>
          <div class="wrap-button"> <button (click)="onAdd(mov)" class="add">Add to Cart</button></div>
        </div>
      </div>
    </div>
    </div> 
    